keras                        2.10.0
Keras-Preprocessing          1.1.2
numpy                        1.26.2
pandas                       1.4.3
preprocessing                0.1.13
scikit-image                 0.21.0
scikit-learn                 1.1.1
scipy                        1.8.1
tensorboard                  2.10.1
tensorboard-data-server      0.6.1
tensorboard-plugin-wit       1.8.1
tensorflow                   2.10.1
tensorflow-datasets          4.9.3
tensorflow-estimator         2.10.0
tensorflow-hub               0.15.0
tensorflow-io-gcs-filesystem 0.31.0
tensorflow-metadata          1.14.0
tensorflow-text              2.10.0
tfds-nightly                 4.9.3.dev202311230044
tokenizers                   0.13.3
